
   <div class="row">
      <div class="twelvecol">
      
        <div class="box_container">
        <div class="box2">
          <div class="title"><%= @room.name %></div>
          <div class="com"><%= @room.com %></div> <div class="hor2"></div>
        <div class="info"><%= @room.info %></div>
          </div>
        </div>
  
 </div>
      </div>
      </div>